<html>
    {% extends 'linker/base.html' %}
     {% load static %}
     {% load crispy_forms_tags %}

{% block content %}
<div class="modal modal-sheet position-static d-block  py-5" tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header border-bottom-0">
             <h5 class="modal-title w-100 mx-0 mb-0 text-center"> <i class="bi bi-app"></i> Shorty Generator</h5>

         </div>
         <form method = 'POST' enctype="multipart/form-data">
                 {% csrf_token %}
            <div class="modal-body py-7">
                <p>This is a short link generator, Built with powerful tools to help you grow and protect your brand..{{ context }}</p>
                <div class="modal-body py-7 w-250 mx-0 mb-2 ">
                    <div class="modal-title py-7 w-300 mx-0 mb-3 ">
                     {{ form |crispy }} </div>

                     <div>
                    <button type="submit" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Generate</button>
                      <!-- The text field -->
                      <!-- The text field -->






                      <!-- The button used to copy the text -->

                      <input class="w-100 py-2 mb-2 btn btn-outline-disabled rounded-3 text-center" type="text"  id="mycopy" value={{context}}>
                      <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3 text-center" onclick="myFunction()">Copy Link</button>
                      <script>
                            function myFunction() {
                            /* Get the text field */
                            var copyText = document.getElementById("mycopy");

                            /* Select the text field */
                             copyText.select();
                             copyText.setSelectionRange(0, 99999); /* For mobile devices */

                                
                             /* Copy the text inside the text field */
                             document.execCommand("copy");

                             /* Alert the copied text */
                             alert("Copied the text: " + copyText.value);}
                       </script>




                    </div>



                </div>
            </div>
         </form>
      </div>
    </div>
  </div>
  {% endblock content %}








</html>
